[2017-02-17 09:43] zaquestion opened #1 "Add dashboard"
Would be to just import that dashboard pictured in https://dev.bukkit.org/projects/prometheus-exporter. Can we get a copy in the repo?

Perhaps upload here: https://grafana.net/dashboards

[2017-02-17 11:06] zaquestion opened #3 "Raising ConcurrentModificationException"
Seeing a few of these
[code]

Only seen 1 of these so far
[code]

Environment:
Using https://hub.docker.com/r/itzg/minecraft-server/

compose file
[code]

Things of note:
Server Type Spigot

[2017-02-18 06:37] zaquestion commented on #3
Saw more of these today FWIW

[2017-02-18 10:51] sladkoff commented on #3
Thanks, I'll look into it!

[2017-02-18 11:11] #1 closed

[2017-02-18 12:59] sladkoff commented on #3
I read up on the Bukkit API and I believe the errors occur when accessing the API from a thread other than the main thread (not thread safe).

The embedded Jetty server for serving the metrics endpoint works asynchronously so that's where concurrency errors may happen.

I see two ways to fix this currently:

* Catch and ignore the exceptions (quickest solution, overall the metrics should not be in

[2017-02-19 00:37] sladkoff commented on #3
@zaquestion Can you try out [v1.0.1](https://github.com/sladkoff/minecraft-prometheus-exporter/releases/download/v1.0.1/minecraft-prometheus-exporter-1.0.1.jar) and report if you still experience any issues of this kind?
Thank you!

[2017-02-26 13:09] sladkoff commented on #3
Closing as this should be fixed in v1.0.1.
Feel free to re-open if problems persist.

[2017-02-26 13:09] #3 closed

[2017-03-01 04:33] zaquestion commented on #3
For the record, I did stop seeing those Exceptions.

[2017-03-17 00:47] dezil opened #4 "feature request add TPS"

[2017-03-17 22:18] dezil opened #5 "feature request add used memory as well as free and max"
I prefer to see my data showing used not free

Cheers

[2017-03-18 11:36] sladkoff commented on #5
Me too! Thankfully we have [operators](https://prometheus.io/docs/querying/operators/) in Prometheus queries.

Free memory: `mc_jvm_memory{type='max'} - scalar(mc_jvm_memory{type='free'})`

[2017-03-18 11:36] #5 closed

[2017-03-18 16:46] #4 closed

[2017-05-08 23:47] SlimeDog opened #7 "Configuration help request"
CentOS 7.3 latest
Spigot 1.11.2 latest
PrometheusExporter 1.1.0
Prometheus 1.6.1
Grafana 4.2.0

Everything is installed and running. Grafana dashboard widgets claim "Datasource named Prometheus was not found". Obviously, I have misconfigured the data stream, but I cannot see how. Any help deeply appreciated.

Grafana Datasource config:
[code]
[Save & Test] returns _Success. Datasource is working_

[2017-05-09 13:44] sladkoff commented on #7
@SlimeDog Do your MC server and Prometheus instance run on the same host?

[2017-05-09 14:02] SlimeDog commented on #7
Yes. Same host.

[2017-05-09 15:11] sladkoff commented on #7
@SlimeDog Try this:

In your **PrometheusExporter/config.yml**:
Change `port: 9090` to anything else or use the default (9225) if you have nothing conflicting with it.
Port 9090 is the default port of the Prometheus server itself. The exporter needs to run on another port (e.g. 9225).

Then update your **Prometheus/prometheus.yml**:
[code]

The basic idea behind all of this:
[code]
I'd recommend r

[2017-05-09 21:30] SlimeDog commented on #7
That was my original configuration (I tend to use defaults unless there is a good reason not to do). When it didn't work, I cleverly misunderstood the data flows and configured 9090.

It is now reverted to 9225, as you suggest, and both Prometheus and Spigot restarted. Unfortunately, still no joy. Prometheus says:
[code]
Does this look correct? Anything else I can check. I see no error messages in

[2017-05-09 21:47] sladkoff commented on #7
You could check if Prometheus is scraping the exporter:
Go to http://localhost:9090/targets in your browser and verify that the minecraft endpoint is listed there and the state is up.

If it's up, you can also run some queries (enter `mc_jvm_memory` and click "execute") at http://localhost:9090/graph

If you get results, the Prometheus part is properly configured and you'll need to verify that Gra

[2017-05-09 22:13] SlimeDog commented on #7
Thanks. The results  of those steps indicate that Prometheus is properly configured.
[code]
[code]
So I need to figure out why Grafana is not communicating with Prometheus. Much obliged for the guidance.

[2017-05-09 22:27] sladkoff commented on #7
You said that the Datasource error only occurs when inside the imported dashboard?

Try to edit one of the panels in said dashboard, go to the 'Metrics' tab and check the 'Panel data source'. Select yours if available. The exemplary `minecraft-grafana.json` dashboard uses a datasource named 'Prometheus' by default. If you named yours differently, this might be the cause. Just update to the datasou

[2017-05-09 22:37] SlimeDog commented on #7
Oh, jeez! That was simple. All better now. Thanks again.

[2017-05-09 22:44] sladkoff commented on #7
Yeah, you even mentioned the differing name in the first comment. I should have noticed then :s

[2017-05-09 22:44] #7 closed

[2017-05-10 00:34] SlimeDog commented on #7
No worries. It all sorted.

[2017-05-10 05:46] SlimeDog opened #8 "Worlds filter"
Can the universe of worlds reported be filtered? Many of my worlds are uninteresting, in terms of entities and chunks loaded.

[2017-05-10 11:09] sladkoff commented on #8
Yes, you can filter by worlds. It's not a feature related to the plugin though.

You're just telling Grafana to query the Prometheus database. Please refer to the Prometheus [Querying Basics](https://prometheus.io/docs/querying/basics/) to learn how to write advanced queries and more.

#### Simple example

If you're still using the exemplary dashboard provided in this repo, go and edit the "Loaded

[2017-05-10 14:40] SlimeDog commented on #8
Yes, of course. I found what I wanted. Appreciate the guidance.

[2017-05-10 14:40] #8 closed

[2017-06-11 05:44] BirkhoffLee opened #9 "future-request: Add CPU load and multiple server support"
As the title says. They would be very helpful too.
Thanks for the hard work!

[2017-06-15 00:36] sladkoff commented on #9
#### CPU load
Unfortunately it's not very straight-forward to read the respective CPU usage from within a Java process.
You're much better of using another Prometheus exporter designed specifically for reporting hardware stats on your machine.

You'll have to see what works best for you but I'd recommend [Node exporter](https://github.com/prometheus/node_exporter) and [cadvisor](https://github.com

[2017-06-17 11:05] BirkhoffLee opened #10 "Stuck when stopping server"
Part of the logs:

[code]

[2017-06-18 22:49] sladkoff commented on #10
This warning should only occur when Prometheus scrapes your server just when the server is shutting down. I might remove the error log.

I doubt that it's the plugin causing the 15sec delay. Are you able to reproduce this @BirkhoffLee each time when shutting down the server?

[2017-06-19 03:20] BirkhoffLee commented on #10
Sometimes it won't happen. So I think maybe you're right

On Jun 19, 2017, 6:49 AM +0800, sladkoff <notifications@github.com>, wrote:

[2018-03-14 16:44] Danielv123 opened #11 "Gather player related statistics"
Things like number of blocks placed, mob kills and blocks mined are very interesting for gauging how the server is used.

[2018-07-31 09:03] lorenzocomotti opened #12 "Where can I find the prometheus-exporter.jar file?"
Hi,
In the guide, you say to copy the file prometheus-exporter.jar into the Plugin folder. Where can I find or create the mentioned file?

Thank you
Lorenzo

[2018-07-31 20:53] sladkoff commented on #12
Hi! You can find the latest jar on the [releases](https://github.com/sladkoff/minecraft-prometheus-exporter/releases) page.

Cheers

[2018-07-31 20:53] #12 closed

[2018-08-12 21:46] eyesofnova opened #13 "<Feature Request>List of Players Online"
If possible a way to list the players online so I can add them to the Grafana dashboard.

[2018-11-05 23:07] sladkoff commented on #13
@eyesofnova The latest release has an experimental option to enable `individual-player-statistics` which includes the online status per player. Please read the README before enabling it.

[2018-11-05 23:07] #13 closed

[2019-02-05 19:03] kelso6969 opened #15 "Bungee support would be epic!"
I know this sort of falls under multiple server support (open ticket), but the ability to have it run in one location, with a per server plugin for individual server tps, memory, etc. Bungee would be more of a total player count across the network along with what server they;re on.

Thanks!

[2019-02-07 21:40] kelso6969 opened #16 "On shutdown, I get a big error"
[16:39:39 WARN]: [PrometheusExporter] Failed to read server statistic: null
[16:39:39 WARN]: java.lang.InterruptedException
[16:39:39 WARN]:        at java.lang.Object.wait(Native Method)
[16:39:39 WARN]:        at org.bukkit.craftbukkit.v1_13_R2.scheduler.CraftFuture.get(CraftFuture.java:50)
[16:39:39 WARN]:        at org.bukkit.craftbukkit.v1_13_R2.scheduler.CraftFuture.get(CraftFuture.java:38)

[2019-05-20 18:53] jc0b opened #17 "Failed to read player statistic: Label cannot be null."
Hi,

I'm running PaperMC 1.14.1 (build #32), and I keep getting the above error. None of the individual statistics seem to be appearing in Prometheus, but I haven't been able to figure out why I'm getting the above error. I have individual player statistics enabled, and in the server logs the exporter confirms this by printing the warning to the console. Any ideas?

![Screenshot 2019-05-20 at 20 5

[2019-05-27 18:12] sladkoff commented on #17
Hi @jc0b,

Thanks for the report. I don't use PaperMC and haven't tested it. Might be something specific to that platform?

I'll take a look.

[2019-05-27 19:06] jc0b commented on #17
Thanks @sladkoff! I'm fairly new to paper, but I believe it's a fork of Bukkit, so it should be fairly similar to that. Thanks for taking a look!

[2019-05-28 18:21] sladkoff commented on #9
Better later than never, I guess... I added instructions for how to set up a scrape config for multiple servers.

[2019-05-28 18:21] #9 closed

[2019-05-28 18:22] sladkoff commented on #16
Thanks for the report. The exception logging was very verbose. That should be better in the latest version.

[2019-05-28 18:22] #16 closed

[2019-06-01 15:22] DotDebian opened #18 "Trying to get maximal player count"
Hello, I would like to add a panel for the maximal online player count. I tried `max(mc_players_total{state="online"})` but it's not working; it's displaying players :(

How can I do this?

[2019-06-01 23:06] sladkoff commented on #18
Hi,

I think you may be looking for `max_over_time(mc_players_total{state="online"}[1d])`. That will give you the players per day. Play around with the range-vector and set it to something high like `5y` if you want the max over "all time".

Hope this helps.

[2019-06-01 23:06] #18 closed

[2019-06-09 15:35] Elzorro99 opened #19 "API"
Hello, sladkoff.

Please, Can you give me the APIs you use in Decompile.

PS: Sorry for the spelling I'm french ;)

Thank you good day.

[2019-06-10 11:09] lukeeexd opened #20 "Error after install"
Getting this after I install https://i.imgur.com/BtYPUPj.png I added

`  - job_name: 'minecraft'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9225']`

to /etc/prometheus/prometheus.yml and restarted prometheus but still nothing

`tcp6       0      0 127.0.0.1:9225          :::*                    LISTEN      9898/java`

Edit: Updated to latest vesion on github and I get

[2019-06-10 13:41] sladkoff commented on #20
1. The `404 not found` was probably just because you didn't request the correct URL which should have been `/metrics`. Prometheus scrapes this path by default.

2. If you upgraded to [v1.3.0](https://github.com/sladkoff/minecraft-prometheus-exporter/releases/tag/v1.3.0) of the plugin and have the default `host` option set, then you were probably trying to access the exporter server from a differen

[2019-06-10 13:51] sladkoff commented on #19
Hi!

I'm sorry, I don't understand. You can just import the project as Maven Project in IntelliJ or Eclipse and all dependencies should be available, no?

[2019-06-10 13:54] Elzorro99 commented on #19
![image](https://user-images.githubusercontent.com/38183701/59200168-ea601a00-8b97-11e9-8af2-dd607ee3b719.png)

Can you give me that :) Please

[2019-06-10 13:55] Elzorro99 commented on #19
For information: I use jdk 8

[2019-06-10 13:57] Elzorro99 commented on #19
I do not use Maven.

[2019-06-10 14:02] lukeeexd commented on #20
I tried metrics too and was same error. Yeah default is localhost, everything is on same machine. Guess it doesn’t matter once grafana is populated.

Yeah I realised after you can change the display time in grafana it was set to 30mins I changed to 1min. I’ll have a look at the configs later

[2019-06-10 14:13] sladkoff commented on #15
Better answer later than never...

There are now instructions on how to configure this for multiple servers.

Basically, every one of your servers runs this plugin and exports the stats. Prometheus is configured to add a unique label to each of your servers during scraping. In Grafana you'll be able to identify the different servers by that label.

---

Unfortunately, I don't use Bungee so I don't

[2019-06-10 14:28] sladkoff commented on #19
That's a shame because this is a Maven project.

Look [in the pom.xml](https://github.com/sladkoff/minecraft-prometheus-exporter/blob/7038f4e801e440d8ff7f03fdc206527c42254c83/pom.xml#L38-L47).

Then use https://search.maven.org/ with the groupId + artifactId from the above step to find the jars.

[2019-06-10 14:28] #19 closed

[2019-06-10 16:16] #20 closed

[2019-06-10 17:18] lukeeexd commented on #20
Is there a way to get the players graph to only show players online and not total players?

[2019-06-11 08:38] sladkoff commented on #20
Try `mc_players_total{state="online"}`

[2019-07-04 08:19] tobgen commented on #15
I second this question as well.
Metrics for bungeecord would be awesome, becuase I think it holds other metrics than the servers that might be useful.

@sladkoff offtopic: Awesome plugin, keep up the good work!

[2019-07-08 23:11] lukeeexd opened #21 "How to show players online per dimension?"
Like this https://i.imgur.com/T1z3AtG.png

Currently my graph is just players online, how can I show players online in world, world_nether and world_the_end?

[2019-07-13 09:24] sladkoff commented on #21
Did you try the `mc_players_online_total` metric?

[2019-07-13 09:24] #21 closed

[2019-07-13 09:25] lukeeexd commented on #21
Yes it just shows all online players in every dimension not online players per dimension like the above screenshot

[2019-07-13 09:32] sladkoff commented on #21
There's `mc_players_total` and `mc_players_online_total`. Are you sure that you aren't using the first of the two?

[2019-07-13 14:03] lukeeexd commented on #21
Okay that worked. How do I make it display the world name in the legend ? And not just “state”?

[2019-07-13 21:22] sladkoff commented on #21
Change the legend format to `{{world}}`.

[2019-08-16 05:47] gp-Airee opened #22 "Building"
How do I build this? keep getting this error on mvn clean install:
[code]

[2019-08-16 08:13] sladkoff commented on #22
Hey,
I'm currently on vacation and don't have easy access to a pc but I'll check
this as soon as I can.

On Fri, Aug 16, 2019, 6:47 AM Graham <notifications@github.com> wrote:

[2019-08-16 10:51] gp-Airee commented on #22
Thanks!

[2019-08-17 23:37] gp-Airee opened #23 "TPS metric is inaccurate"
I understand this plugin isn't officially supported on 1.8, but the metric always reads 20. It'd be nice if it worked on 1.8 too!

[2019-08-17 23:37] gp-Airee opened #24 "2% of server tick used by offline players metric."
Can we get an option to disable specific metrics maybe?

[2019-08-20 18:50] sladkoff commented on #22
What's your `java -version`?

Maybe try and clean/delete the bukkit dependencies in your `~/.m2` and retry?

[2019-08-21 06:38] gp-Airee commented on #22
Looks like I was on 11. Works on 8.

[2019-08-21 06:38] #22 closed

[2019-08-23 11:37] Spacey commented on #23
I also have this issue on the latest version of Paper 1.14.4, it only seems to send the correct TPS every now and again.

[2019-09-16 16:15] BirkhoffLee commented on #23
Same here, always reads 20.

[2019-09-17 08:22] sladkoff commented on #23
What are you guys comparing the TPS to?

As far as I remember I re-used code from [LagMeter](https://www.spigotmc.org/resources/lagmeter.19396/) while it was still open source and on GitHub. I was testing the TPS metric against the LagMeter `/tps` command.

I will keep this open and look into it when I get the time.

[2019-09-17 08:58] BirkhoffLee commented on #23
After testing it does drop to like 14 or something, but it’s mostly inaccurate comparing to what I see in the output of in-game `/tps`. I also use [React](https://www.spigotmc.org/resources/react-smart-server-performance-1-14-update.21057/) to monitor server stats in-game, and the TPS stat from that just differs a lot from this plugin.

[2019-09-25 19:05] OfficialTehlo opened #25 "Using multiple instances of Prometheus Exporter on different Dashboards"
Hi!

First of all, love the fact that this panel and this plugin exists because I love to view my Server Stats on a webpanel.

However, I would like to use Multiple MC servers to be displayed on their own Dashboard instead of combined in 1 Dashboard (if possible)
With using the Labels my prometheus.yml doesn't even save, just gives me errors that it can't load the config and with using 2 servers I

[2019-12-30 12:17] sladkoff commented on #24
You disable specific metrics since [the latest release](https://github.com/sladkoff/minecraft-prometheus-exporter/releases/tag/v2.0.0).

I haven't seen any performance issues with this. How did you benchmark?

[2019-12-30 12:27] sladkoff commented on #25
Prometheus/Grafana configuration isn't in the scope of this issue tracker - please refer to the [Prometheus Docs](https://prometheus.io/docs/prometheus/latest/configuration/configuration/) + [Grafana Docs](https://grafana.com/docs/grafana/latest/features/datasources/prometheus/).

This issue is quite old by now (sorry). If you still need help, please create a [gist](https://gist.github.com/) of yo

[2019-12-30 12:30] sladkoff commented on #17
@jc0b If you're still using this, could you test the [latest version](https://github.com/sladkoff/minecraft-prometheus-exporter/releases/tag/v2.0.0) of the plugin and report if this is still happening?

[2019-12-30 12:42] jc0b commented on #17
Hi,
I’ll be putting this back into production in about a month, I’ll let you know then. Might be worth marking this issue as closed until I can test it.

On 30 Dec 2019, at 12:30, Leonid <notifications@github.com> wrote:

﻿

@jc0b<https://github.com/jc0b> If you're still using this, could you test the latest version<https://github.com/sladkoff/minecraft-prometheus-exporter/releases/tag/v2.0.0> of

[2020-01-02 17:57] ShadowFM opened #26 "[Question] Usage of the current minecraft versions working?"
Hello,

is the plugin also working on 1.15 and newer or only on 1.14 and under?

Regards,
ShadowFM

[2020-01-02 19:05] sladkoff commented on #26
It _should_ run fine on 1.15 but I haven't had the time to test it myself.

If you can test it and report back it would be of much help. Thanks.

[2020-01-03 01:27] ShadowFM commented on #26
[01:15:09] [Server thread/INFO]: [PrometheusExporter] Enabling PrometheusExporter v2.0.0
[01:15:09] [Server thread/WARN]: 2020-01-03 01:15:09.868:INFO::Server thread: Logging initialized @18944ms to org.eclipse.jetty.util.log.StdErrLog
[01:15:09] [Server thread/WARN]: 2020-01-03 01:15:09.949:INFO:oejs.Server:Server thread: jetty-9.4.z-SNAPSHOT; built: 2019-04-29T20:42:08.989Z; git: e1bc35120a6617e

[2020-01-03 10:01] ShadowFM commented on #26
Okay my failure was to use the same port as the gui, this was the reason why it could not start..
I could find out also that it works fine on 1.15, there is only the issue if I use:

 player_online

I receive the following message:

[PrometheusExporter]: Failed to read server statistic: java.lang.IllegalArgumentException: Label cannot be null.

[2020-01-03 10:14] sladkoff commented on #26
@ShadowFM Thanks a ton for testing!

The error `[PrometheusExporter]: Failed to read server statistic: java.lang.IllegalArgumentException: Label cannot be null.` is a known bug -> https://github.com/sladkoff/minecraft-prometheus-exporter/issues/17

[2020-01-03 10:14] #26 closed

[2020-01-03 10:21] sladkoff commented on #17
@ShadowFM Can you provide some additional information about your server (are you using Bukkit / Spigot / PaperMC)? Thanks.

[2020-01-03 10:38] ShadowFM commented on #17
Sure.
I'm using:
CraftBukkit: git-Spigot-3b314f5-e2790ae (MC: 1.15) (Implementing API version 1.15-R0.1-SNAPSHOT)
minecraft-prometheus-exporter: 2.0.0

[2020-01-03 16:07] #17 closed

[2020-01-03 16:07] #25 closed

[2020-01-03 17:56] toastydoctor opened #27 "Prometheus keeps crashing when i add the minecraft Job"
# Read before opening a question!

First, please ensure that you have done the following things on your own.

- [x] I have successfully configured Prometheus
- [x] I have successfully configured Grafana
- [ ] I have added a **valid** scrape config for my Minecraft server in Prometheus
- [x] I know how to build Grafana dashboards and Prometheus queries

These steps are out of the scope of this issu

[2020-01-03 19:50] sladkoff commented on #27
Hm, I don't think I can help you. You haven't added any description and if "Prometheus is crashing" then it isn't an issue with this plugin. Please refer to https://prometheus.io/docs/prometheus/latest/getting_started/ for more information on how to configure the scrape target.

You can verify that the exporter works by going to `http://your-server-hostname:9225/metrics` in a browser. Then set up

[2020-01-03 19:50] #27 closed

[2020-01-04 15:42] toastydoctor commented on #27
ok well the exporter doesent seem to work for me when i visit my-mcserver-ip:9225/metrics the site wont load i just get "This site can’t be reached
                                  192.168.2.122 refused to connect."

[2020-01-04 18:14] sladkoff commented on #27
@toastydoctor Any errors in the logs? Is your running on the same host as the MC server? If not, then you will have to set the `host` in the config.yml to something other than `localhost` depending on your setup.

You will have to set `host: localhost`

[2020-01-04 18:16] toastydoctor commented on #27
where are the logs i only have the config.yml in the prometheus exporter folder

[2020-01-04 18:18] toastydoctor commented on #27
ok so the minecraft logs tell me that :[PrometheusExporter] Started Prometheus metrics endpoint at: localhost:9225

[2020-01-04 18:21] sladkoff commented on #27
Can you try with this in the plugin config.yml: `host: 192.168.2.122`

[2020-01-04 18:25] toastydoctor commented on #27
nope still : This site can’t be reached

[2020-01-04 18:30] toastydoctor commented on #27
ok nevermind it works now

Thx so much for taking ur time

[2020-01-05 01:18] toastydoctor opened #28 "[Feature Request] finished prometheus.yml with minecraft job added"
I can't seem to properly paste :

 - job_name: 'minecraft'
  static_configs:
    - targets: ['localhost:9225']
      labels:
        server_name: 'my-awesome-server'

into the config i keep getting indentation errors and :
line 14: field -targets not found in type config.plain\n  line 15: field labels not found in type config.plain\n

[2020-01-05 17:49] sladkoff commented on #28
Documentation: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config

Example Prometheus config: https://github.com/prometheus/prometheus/blob/release-2.15/config/testdata/conf.good.yml

Append the minecraft job to the `scrape_configs` section:

[code]

[2020-01-29 19:55] jbhannah commented on #5
Time-traveling from the future to say that `scalar()` didn't work for me, but this did:

[code]

[2020-03-23 23:20] aSemy opened #32 "[Bug Report] player_statistic not persisted over server restarts"
I've noticed that after server restarts the `player_statistic` will no longer report anything. When a player logs on, only that player will be reported under `player_statistic` (even if that player then logs off).

This graph shows the total `PLAY_ONE_MINUTE` for all players. It decreases when the server restarts, and then increases vertically as a new player logs on to the restarted server.

![im

[2020-03-24 10:28] sladkoff commented on #32
Yeah, I've also noticed this before. Thanks for opening an issue for this.

Basically those stats will only show players that have been seen during the current server uptime. I think you're right that this is simply because of the way the Bukkit API works here.

Writing such a save file would be an option but I agree that it doesn't feel like the best approach - we could do that as a last resort.

[2020-03-24 14:40] aSemy commented on #32
I had a bit more of a look. I still can't see in the source code where the statistics are loaded, but I have found where they are stored: `data/world/stats/<player UUID>.json`. As a work-around, these files could be read on server-startup and return when `player.getStatistic(statistic)` returns null.

[2020-03-30 18:13] gabrielsson opened #34 "Host configuration suggestion"
Great repo! I got everything up and running on my raspberry pi kubernetes cluster. Pretty cool.

One thing that took some time to figure out was the config.yaml configuration for host. As I run this in kubernetes I have no way of knowing before hand what IP or Host I am getting so I had to read up on the Jetty configuration for starting the server. Turns out that if I set it to 0.0.0.0 I can have

[2020-03-30 19:10] sladkoff commented on #34
The default is fine because we don't want to 'expose' too much by default. You can always opt-in to have it listen on all interfaces if you know what you're doing.

I updated the README with a sample config and added a note about Kubernetes to make this easier.

Thanks for the feedback!

[2020-03-30 19:10] #34 closed

[2020-03-30 19:12] sladkoff commented on #28
Closing due to inactivity.

[2020-03-30 19:12] #28 closed

[2020-03-30 19:16] sladkoff commented on #15
Marking this as up-for-grabs in case someone who knows more about Bungee wants to contribute something.

I think that the basics should be covered with my last comment. If there are any custom bungee metrics which can be collected, please propose something specific or implement it :)

[2020-03-30 19:19] sladkoff commented on #24
Closing due to inactivity. Please re-open if you can provide more information about the performance issues.

[2020-03-30 19:19] #24 closed

[2020-04-02 07:08] lightsing opened #35 "[Feature Request] Support of JVM metrics like micrometer"
**Is your feature request related to a problem? Please describe.**
Although now it has a  JVM of memeory usage, I'd like to inspect more details like the gc event, thread pool, class loader which could help to find out how to imporve the performance.

**Describe the solution you'd like**
Build in the [micrometer](https://micrometer.io/) lib and proxy its metrics result.

**Describe alternatives yo

[2020-04-03 10:42] kARAT97 opened #36 "[Question] HTTP Error Bad Gateway when adding to Grafana"
I already have Grafana an Prometheus running monitoring the dedicated server itself, now I'm trying to add this exporter to monitor each minecraft server instance.
I've added the plugin to all servers and verified the port configuration on there along with restarting the servers.

I've configured the scrape config for Prometheus and it's like this:
[code]

The servers are all hosted on the same ma

[2020-04-03 12:03] sladkoff commented on #36
Hi :wave:

I don't quite understand your network setup yet.

You have a dedicated server with Prometheus + Grafana installed?
Then you have multiple minecraft servers running on that same host inside docker containers?

There must be something wrong with your config.
Start troubleshooting like this:
1. Check MC server logs, look for the following line.
[code]
    Do you see this line? Note the hos

[2020-04-03 12:12] kARAT97 commented on #36
Hello there and thank you for the extremely quick response.
After troubleshooting this with my host I was suggested to make an issue report here.

1. Check MC server logs, look for the following line.

2. Inside the MC docker container:
root@DEDI-EU-GER-04 /srv/daemon-data/c3a70a40-0984-4234-a756-a5262ecfa360 # curl 0.0.0.0:25578
curl: (7) Failed to connect to 0.0.0.0 port 25578: Connection refuse

[2020-04-03 12:14] sladkoff commented on #36
Could you `docker ps` on that host please?

[2020-04-03 12:18] kARAT97 commented on #36
Hello there and thank you for the extremely quick response.
After troubleshooting this with my host I was suggested to make an issue report here.

1. Check MC server logs, look for the following line.

2. Inside the MC docker container:
root@DEDI-EU-GER-04 /srv/daemon-data/c3a70a40-0984-4234-a756-a5262ecfa360 # curl localhost:25578
curl: (7) Failed to connect to localhost port 25578: Connection re

[2020-04-03 12:19] kARAT97 commented on #36
root@DEDI-EU-GER-04 ~ # docker ps
CONTAINER ID        IMAGE                           COMMAND                  CREATED             STATUS              PORTS                                                                                                                                            NAMES
25aff16b955a        dedicatedmc/java11:latest       "/bin/bash /entrypoi…"   2 hours ago         U

[2020-04-03 12:20] kARAT97 commented on #36
That's extremely messy, https://pastebin.com/br5g2eyk use this.

[2020-04-03 12:20] kARAT97 commented on #36
![image](https://user-images.githubusercontent.com/43685758/78359956-8b93e300-75a5-11ea-88db-ffda7d4f23a1.png)
Here's the data source in Grafana

[2020-04-03 12:22] kARAT97 commented on #36
The weird thing is that we opened the port to the internet and you can access the information pulled from the server from there, but not within the host itself.

[2020-04-03 12:23] kARAT97 commented on #36
global:
  scrape_interval:     15s
  evaluation_interval: 15s

rule_files:
  # - first.rules
  # - second.rules

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9100']
  - job_name: 'minecraft'
    static_configs:
      -

[2020-04-03 12:27] sladkoff commented on #36
If you want we can chat here: https://gitter.im/minecraft-prometheus-exporter/community#

[2020-04-03 15:47] sladkoff commented on #36
Solved on gitter. Note that it is not required to add the exporter as separate datasource in Grafana.

[2020-04-03 15:47] #36 closed

[2020-04-05 15:20] themaaft opened #37 "Missing the .jar file..."
the .jar file is missing so cant use it :(

[2020-04-05 19:07] sladkoff commented on #37
https://github.com/sladkoff/minecraft-prometheus-exporter/releases/download/v2.1.0/minecraft-prometheus-exporter-2.1.0.jar ?

[2020-04-05 19:10] themaaft commented on #37
I re-inserted my brain! haha :) 👍

[2020-04-05 19:37] #37 closed

[2020-04-12 12:14] Mikgreg opened #38 "[Bug Report] Entities metric throws exceptions for server versions < 1.14"
Hello,

I have installed the exporter jar onto some of my servers and I'm getting the below stack error whenever the dashboard refreshes.

[code]

Along with this, the entities section of the dashboard is showing "No data".

https://i.imgur.com/g0RZ778.png

Everything else seems to be working fine though. I am using v2.1.0 of the Prometheus Exporter MC plugin.

Any help would be appreciated.

Than

[2020-04-12 12:16] Mikgreg commented on #38
I should add this is happening across two different MC versions.

mSpigot version git-TacoSpigot-bf023c7d (MC: 1.8.8) (Implementing API version 1.8.8-R0.2-SNAPSHOT)

and

Paper version git-Paper-33d42c8e (MC: 1.12.2) (Implementing API version 1.12.2-R0.1-SNAPSHOT)

[2020-04-12 18:53] sladkoff commented on #38
@Mikgreg Thanks for reporting this. Apparently version `2.1.0` of the exporter only supports server versions `1.14` and up so you are running into this problem.

I'll see what we can do about this.

Internal note / commit with added methods for reference: https://hub.spigotmc.org/stash/projects/SPIGOT/repos/bukkit/commits/67d908a9830c71267ee740f5bddd728ce9c64cc7#src/main/java/org/bukkit/entity/Ent

[2020-04-12 19:44] sladkoff commented on #38
@Mikgreg Can you please try this hotfix and let me know if that helps: https://github.com/sladkoff/minecraft-prometheus-exporter/releases/download/v2.1.1/minecraft-prometheus-exporter-2.1.1.jar

[2020-04-16 08:14] sladkoff commented on #38
@Mikgreg Please re-open if there are still any issues.

[2020-04-16 08:14] #38 closed

[2020-04-28 06:49] phemmer opened #39 "[Feature Request] Time per tick (NOT TPS)"
**Describe the solution you'd like**
Obtain a metric for time per tick.

**Describe alternatives you've considered**
This is not the same as ticks per second. As TPS has an upper bound of 20, it does not give you enough resolution to monitor the performance in detail. In fact, by using TPS, you can only detect performance issues once TPS starts to drop, and by then it's impacting your clients. The

[2020-04-30 20:08] phemmer commented on #23
Was also seeing unexpected values out of this measurement, and took a look at the code. The issue is how TPS is being calculated. On [TpsCollector.java#32](https://github.com/sladkoff/minecraft-prometheus-exporter/blob/ee958d513e227dd5aac123a5f6e9616c77fbc659/src/main/java/de/sldk/mc/tps/TpsCollector.java#L32) we have:

    long timeSpent = (now - this.lastPoll) / 1000;

What this is doing is taki

[2020-05-03 05:10] gp-Airee commented on #23
Just shade in https://github.com/lucko/spark/tree/master/spark-common for a TPS metric.

[2020-05-05 03:15] Combustible commented on #39
Something that makes this even harder is that this API was introduced in 1.15 - it does not exist in 1.13 or 1.14 versions of Paper.

It does look like the raw data was available back in 1.13:
[code]
In 1.15 (Paper), it's declared as:
[code]

Currently this project is compiled against 1.15 Spigot API, but also runs fine on both my 1.13 server and my 1.15 server, because it just uses the API.

I ju

[2020-05-06 19:55] sladkoff commented on #35
Good idea! The micrometer implementation should be a good way to go. This is up for grabs.

[2020-05-06 19:59] sladkoff commented on #23
Due to popular demand this is now a bug.

@phemmer @gp-Airee PRs are always welcome, you guys already did half the job :smile:
The current implementation isn't set in stone at all and you can feel free to replace it completely.

[2020-05-06 20:06] phemmer commented on #23
I know barely anything about java, so I'm probably not the best person to tackle this. However my first thoughts are to either change the type from `long` to `double`, or keep the unit as milliseconds (don't divide by 1000), and multiply by 1000 on line 35.

IMHO, using a decimal data type is overkill (assuming that `BigDecimal` is the same as decimal data types in other languages). Decimal is hea

[2020-05-06 20:25] sladkoff commented on #39
@Combustible I think we can always start out with option **1**. I'd be fine with it if it's only available to Paper at first - I may be biased :smile:

This could later be extended to something similar to option **2** or **3**.

You already summed up the pros and cons perfectly and I'd probably also go with **2**.

I'm all for cleaner code as in **3** but I don't really see a good way to maintain

[2020-05-07 04:39] Combustible commented on #39
Added a pull request for option 2 - Was worth the small amount of extra effort since I still have a 1.13 server I want to use this on.

[2020-05-07 21:05] #23 closed

[2020-05-14 06:44] phemmer commented on #39
Something I just noticed, it looks like 1.16 is adding an MBean which will expose `averageTickTime`. So this can be obtained without relying on Paper or any nasty hacks.

https://minecraft.gamepedia.com/Server.properties#Minecraft_server_properties

[2020-05-16 14:57] sladkoff commented on #39
Thanks to @Combustible for #41

[2020-05-16 14:57] #39 closed

[2020-05-16 21:11] lukeeexd opened #43 "[Question] Player online is just a flat line"
# Read before opening a question!

First, please ensure that you have done the following things on your own.

- [* ] I have successfully configured Prometheus
- [* ] I have successfully configured Grafana
- [* ] I have added a **valid** scrape config for my Minecraft server in Prometheus
- [* ] I know how to build Grafana dashboards and Prometheus queries

https://i.tws.gg/jOeKyVw1la.png How do I

[2020-05-16 21:26] sladkoff commented on #43
Is that the only flat line? Do the other metrics work?

[2020-05-16 21:34] lukeeexd commented on #43
Nope thats the only one, When I hide this https://i.tws.gg/fMR6L4griS.png it shows fine, although kinda smushed https://i.tws.gg/vuVbj6Pkn1.png

[2020-05-16 21:45] lukeeexd opened #44 "Tick times per entity"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Having the tick times for different entites would be nice. e.g villagers, hoppers, furnaces, zombies etc

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
I'll add a screenshot of w

[2020-05-16 21:46] sladkoff commented on #43
I see. It's just that `mc_players_total` is really high relative to your online players.

You could try and play around with the Y axis scale:

![image](https://user-images.githubusercontent.com/6025787/82130806-0bc97d00-97cf-11ea-9d47-563a48be0a09.png)

If it still feels smushed to you, you can always customize the dashboard to your liking.

[2020-05-18 10:31] #43 closed

[2020-05-18 10:41] sladkoff commented on #44
I don't think that this is possible. The current tick times are taken directly from the server implementations and we don't have any entity information at that point. The server would have to provide this information.

@Combustible Do you agree?

[2020-05-18 10:45] lukeeexd commented on #44
Its definitely possible as I've seen somebody have it. I'll ask for a screenshot off them since I cant find it anymore.

[2020-05-18 10:48] lukeeexd commented on #44
https://cdn.discordapp.com/attachments/538139695079489587/701843317020950568/unknown.png This isnt it, but maybe you could get some ideas off this? Still looking for what I'm talking about

[2020-05-18 10:50] lukeeexd commented on #44
https://cdn.discordapp.com/attachments/538139695079489587/697498779464499236/analytics.png Okay maybe it was this I was thinking of but interpreted it wrongly

[2020-05-30 12:52] Marcuri02 opened #45 "[Bug Report] Unknown panel type: gauge"
# Read before opening a bug report!

First, please ensure that you have done the following things on your own.

- [x] I have successfully configured Prometheus
- [x] I have successfully configured Grafana
- [x] I have added a **valid** scrape config for my Minecraft server in Prometheus
- [ ] I know how to build Grafana dashboards and Prometheus queries

These steps are out of the scope of this is

[2020-06-01 14:21] Govindass opened #46 "[Bug Report] Entities counter is inaccurate"
# Read before opening a bug report!

First, please ensure that you have done the following things on your own.

- [V ] I have successfully configured Prometheus
- [V] I have successfully configured Grafana
- [V] I have added a **valid** scrape config for my Minecraft server in Prometheus
- [kinda] I know how to build Grafana dashboards and Prometheus queries

I've found a bug that if all entities

[2020-06-02 17:27] lukeeexd opened #47 "[Bug Report] My players online is weird"
# Read before opening a bug report!

First, please ensure that you have done the following things on your own.

- [* ] I have successfully configured Prometheus
- [* ] I have successfully configured Grafana
- [* ] I have added a **valid** scrape config for my Minecraft server in Prometheus
- [* ] I know how to build Grafana dashboards and Prometheus queries

These steps are out of the scope of thi

[2020-06-03 07:20] sladkoff commented on #45
Which version of Grafana? Can you use gauge panels on other dashboards?

[2020-06-03 07:21] sladkoff commented on #47
The graphs are stacked. You can turn that off in the visualization options of the panel.

[2020-06-03 07:21] #47 closed

[2020-06-03 07:24] sladkoff commented on #46
How do you measure that "all entities disappear from a world"? We're currently just exporting whatever entity count the server implementation gives us, so there's probably not much we can change.

[2020-06-03 08:34] Govindass commented on #46
I mean, when all entities get unloaded, like all chunks unload, so all entities unload too

so there are 0 chunks and 0 entities in the world

the chunks counter is right, it shows 0

but entity counter remains showing entity counts before the chunk unloading, while there really aren't any entities (checking with separate plugin)

[2020-06-03 15:02] Govindass commented on #46
the solution would be to save counts in a variable and if no entities of that type that was sent earlier appear, then send 0

[2020-06-03 15:14] Govindass commented on #46
I think player count counter is also having a similar problem, it says 12 players online while only 3 are online and there haven't been 12 online for a long time

[2020-06-03 15:15] Govindass commented on #46
chunks loaded seem to also get wrong if the world gets unloaded

[2020-07-04 01:39] schoentoon commented on #46
Would it not simply be a matter of clearing out `ENTITIES` in https://github.com/sladkoff/minecraft-prometheus-exporter/blob/master/src/main/java/de/sldk/mc/metrics/Entities.java before iterating over all the worlds in https://github.com/sladkoff/minecraft-prometheus-exporter/blob/master/src/main/java/de/sldk/mc/metrics/WorldMetric.java#L17 using the `clear()` method in prometheus?

[2020-07-13 16:02] AlexUtzl67 commented on #27
Hello, I'm also stuck on the same subject. Could you tell me how did you succeed.

[2020-07-22 19:41] SMLMG opened #50 "jar file"
# Read before opening a question!
I cloned your repo and read your instructions for use. It starts with the jar file. However, after cloning the repo I cannot find a jar file anywhere. I am running minecraft in a k3 pod on a rpi 4b 8GB running a beta version of the 64 bit Pi OS.  What could go wrong? Possibly I am trying to use this repo on an unsupported platform or in an unsupported manner?  Tha

[2020-07-22 19:45] sladkoff commented on #50
You don't need to clone the repo, you can just download the latest jar from [Releases](https://github.com/sladkoff/minecraft-prometheus-exporter/releases/tag/v2.2.0).

If you want to build from source, do `mvn clean package` in the cloned working directory.

[2020-07-22 19:45] #50 closed

[2020-07-22 20:20] SMLMG commented on #50
Thank you so much. Stay safe over there and whatever you see us do you do the opposite.

[2021-01-05 23:51] #46 closed

[2021-01-06 14:56] elliotnichols opened #54 "[Question] Got the plugin and prometheus going but- it seems the data comes incorrect"
- [✅] I have successfully configured Prometheus
- [✅] I have successfully configured Grafana
- [✅] I have added a **valid** scrape config for my Minecraft server in Prometheus
- [✅] I know how to build Grafana dashboards and Prometheus queries

Have a look at the screenshot. Running 1.16.4 PaperMC with the latest plugin version from SpigotMC
The data that comes into Grafana does not seem correct,

[2021-01-06 21:51] elliotnichols commented on #54
Fixed - seems to have fixed itself over time

[2021-01-06 21:51] #54 closed

[2021-01-07 22:41] geogdog opened #55 "[Question] Datapack?"
I don’t know enough about the internals of plugins vs datapacks, but do you know if this would be possible on a vanilla server in datapack form?

[2021-01-08 21:58] sladkoff commented on #55
I don't know much about datapacks but it seems like the scripting capabilities are rather limited to in-game [mcfunctions](https://minecraft.gamepedia.com/Function_(Java_Edition)) and asset mods. We would need to somehow serve an HTTP endpoint and I doubt that this is possible with the integrated functions.

[2021-01-08 21:58] #55 closed

[2021-01-08 21:58] sladkoff commented on #45
Stale.

[2021-01-08 21:58] #45 closed

[2021-01-12 22:35] fishzle commented on #44
@lukeeexd do you mean something like the second dashboard shown here: https://grafana.com/grafana/dashboards/11993

[2021-01-19 12:40] madimadi opened #57 "[Feature Request] Have metric about count of each Entity"
Hi,
Since the number of entities contribute at some extend to the load of the server it would be very nice to have data for all entities.

I imaging creating a new graph on dashboard besides the current "Entities" which has details about entity fluctuation over time.
I have a server where various entities are disabled or restriced (worldguard) .

Thanks,
 /madi/

[2021-01-22 08:29] TomAvecLeVdsl opened #58 "[Feature Request] Forge / Sponge support"
I would like to have this plugin as a server side mod for forge server owners or just forge core server, or as a sponge plugin because sponge exists :)

**Describe alternatives you've considered**
I think there is no alternatives i think, i've done very little reserch so i don't realy know if anything exists

[2021-01-23 14:00] baer95 commented on #58
There is a fork of this repository that implements Sponge support: https://github.com/Stonebound/PrometheusExporter.
It looks like there is not much maintenance going on. Possibly there are other forks that implement support for Forge, but I have not checked.

[2021-01-23 14:37] TomAvecLeVdsl commented on #58
Ok thanks for taking the time to respond :)

[2021-01-23 14:37] #58 closed

[2021-03-07 11:50] #32 closed

[2021-03-08 16:37] sladkoff commented on #57
@madimadi As far as I remember this should already be possible with the `mc_entities_total` metric because it has a `type` label that you can use.

It might not be included in the sample dashboard but you can do this with your own query.

[2021-03-08 19:23] madimadi commented on #57
You are right. I realized that  it is doable just the matter of modifying the dashboard accordingly.  Thanks for the answer.

[2021-03-08 19:23] #57 closed

[2021-03-22 17:23] sladkoff opened #69 "[Bug Report] Possible inaccuracy in 'tick_duration_*' metrics"
Each of the four `TickDurationCollector` implementations gets a new reference to the Bukkit tick times reference. Each collector potentially works with a different array of tick times - this could lead to inaccuracies in the readings.

I don't know if this has an actual impact in the real world but in theory this is done incorrectly.

All four collectors should use the same tick times reference. T

[2021-04-08 23:30] craumix opened #74 "[Bug Report] Console is spammed with warning "The player has probably not been online since reboot.""
# Read before opening a bug report!

First, please ensure that you have done the following things on your own.

- [x] I have successfully configured Prometheus
- [x] I have successfully configured Grafana
- [x] I have added a **valid** scrape config for my Minecraft server in Prometheus
- [x] I know how to build Grafana dashboards and Prometheus queries

These steps are out of the scope of this is

[2021-04-17 11:13] LOVE2CMOL opened #75 "[Bug Report] com.jayway.jsonpath.PathNotFoundException: No results for path: $['stats']['minecraft:custom']"
First, please ensure that you have done the following things on your own.

- [x] I have successfully configured Prometheus
- [x] I have successfully configured Grafana
- [x] I have added a **valid** scrape config for my Minecraft server in Prometheus
- [x] I know how to build Grafana dashboards and Prometheus queries

These steps are out of the scope of this issue tracker. If you have problems wit

[2021-05-01 20:25] weihao commented on #15
Hey, I made this Bungeecord Prometheus exporter based on this repo: https://github.com/weihao/bungeecord-prometheus-exporter

Please let me know your feedback.

[2021-05-03 13:29] sladkoff commented on #15
You can now use @weihao's plugin on your Bungeecord proxy servers for additional Bungee-specific metrics.
Link has been added to the Readme. Closing this issue.

Thank you @weihao :pray:

[2021-05-03 13:29] #15 closed

[2021-05-06 09:43] galexrt opened #77 "[Bug Report] Throws exception if world doesn't have a stats directory"
In case a world doesn't have stats saving on and / or simply no stats folder an exception is thrown.

The plugin continues to work, still it would be nicer to handle that case nicer.

I will submit a PR to return an empty hash map in case of no stats folder.

[code]

[2021-05-08 16:45] #77 closed

[2021-05-08 17:38] sladkoff opened #80 "[Feature Request] Close stale issues automatically"
Enable [stalebot](https://github.com/probot/stale) or similar to close stale issues automatically.

[2021-05-08 17:39] #75 closed

[2021-05-08 17:39] #74 closed

[2021-05-08 18:40] #80 closed

[2021-06-09 22:35] #35 closed

[2021-06-09 22:35] #44 closed

[2021-06-20 22:03] EpicnessTwo opened #94 "[Bug Report] Exception fetching statistic KILL_ENTITY from player"
Getting the following error on one of our servers. It's running Paper 1.17 Build 16

Error:

[code]

[2021-06-23 14:34] John-H-Smith opened #96 "[Bug Report] Error while enabling"
Hi,
after updating from 2.2.0 to 2.4.0 I got this StackTrace:

[code]

[2021-06-23 20:19] EpicnessTwo commented on #96
What happens if you temporarily remove the `a5195dc0-22cb-4a5b-a1b2-62d767c7700e.json` file from the stats directory?

[2021-06-23 20:35] John-H-Smith commented on #96
Then the UID is removed from the list above but a new one is shown there.
Also I should mention I set `player_statistic `to `false `in the config.

[2021-06-23 21:22] sladkoff commented on #96
@John-H-Smith Could you try the latest version [v2.4.1](https://github.com/sladkoff/minecraft-prometheus-exporter/releases/tag/v2.4.1)?

[2021-06-23 21:31] sladkoff commented on #96
:information_source: This is probably a duplicate of #75.

[2021-06-23 21:36] sladkoff opened #97 "[Bug Report] Player stats files are loaded even if 'player_statistic' is disabled"
When `player_statistic: false` is set in the config, the logs indicate that `PlayerStatisticLoaderFromFile` still attempts to load and read statistics from the stats directory as described in #96.

This is unnecessary.

[2021-06-23 21:46] John-H-Smith commented on #96
Oh lol - I thought I was running on the latest version. Fixed!

[2021-06-23 21:46] #96 closed

[2021-06-24 21:48] #97 closed

[2021-07-06 15:54] c-goldschmidt commented on #94
same for `ENTITY_KILLED_BY`

[2021-07-27 23:50] katiebosch opened #102 "Add tracking for certain commands"
**Is your feature request related to a problem? Please describe.**
As a server owner, I would like to be able to see how often certain commands are used to see how popular other plugins are with my players.

**Describe the solution you'd like**
A configuration where I can enter a parent command (so for something like WorldGuard, any command like /region) or a specific command (i.e. /region info),

[2021-07-29 19:14] rugter100 opened #105 "[Feature Request] have the possibility to disable specific logging events"
**Is your feature request related to a problem? Please describe.**
I noticed when i installed the plugin on a pre existing server my logs got flooded to high hell with messages saying
`[PrometheusExporter] Can not load player statistics for 'UUID' from Bukkit API. The player has probably not been online since reboot.`

Its nice that its there (i guess) but i have a pre existing server with mabye 4

[2021-08-01 01:02] Nekiox opened #106 "[Bug Report] 1.12.2 Error occurred while enabling PrometheusExporter"
Hello when i launch my 1.12.2 server i have that

[03:01:38 INFO]: [PrometheusExporter] Enabling PrometheusExporter v2.4.0
[03:01:38 ERROR]: Error occurred while enabling PrometheusExporter v2.4.0 (Is it up to date?)
java.lang.NoSuchMethodError: 'org.bukkit.NamespacedKey org.bukkit.Statistic.getKey()'
        at de.sldk.mc.metrics.player.PlayerStatisticLoaderFromFile.lambda$static$0(PlayerStatisti

[2021-08-08 22:18] caraar12345 commented on #106
I'm getting the same error :)

[2021-08-26 05:41] anatawa12 opened #108 "[Question] which version of server supported?"
which version of the Bukkit minecraft server is the target version(s) of this pluign?
Are there any (old) versions that support(ed) 1.7.10?

[2021-08-30 09:47] renovate[bot] opened #110 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update prometheus-client.version to v0.12.0](../pull/109) (`io.prometheus:simpleclient_hotspot`, `io.prometheus:simpleclient_common`)

---

-

[2021-09-12 18:04] alexwcrafter opened #111 "[Question] I can't find the Prometheus config"
So I've been trying to add the Dashboard but I'm stuck at the step "Add the following job to the scrape_configs section of your Prometheus configuration:" I can't find the any way to add a Job.

This is my Config:

![Screenshot](https://img.ayokaacr.de/Screenshot_30.png)

[2021-09-19 14:24] #111 closed

[2021-09-21 20:51] #69 closed

[2021-09-26 17:51] HSoeren commented on #108
I'm not the author, just user. According to the plugin page over at spigot mc all versions from 1.11 to 1.16 are currently supported. For other versions personally I would try and see if its working or not.

[2021-11-01 22:34] drkn opened #117 "[Bug Report] PlayerStatisticLoaderFromFile ignores level-name"
PlayerStatisticLoaderFromFile has hardcoded "level-name" as "world". If you change level-name - the plugin fails to start with java.nio.file.NoSuchFileException: /data/world/stats . World name should be read from server.properties or configured in plugin config.

[2021-11-04 14:43] #108 closed

[2021-12-03 10:34] geogdog opened #120 "Spiget Download API doesn't link to a file"
I'm writing an updater for spigot plugins, and noticed that the external link config on the plugin page at spigot is pointing to the release page not the file itself.  This breaks the spiget download api.

Would it be possible to change the download url on spigot to:
https://github.com/sladkoff/minecraft-prometheus-exporter/releases/download/v2.4.0/minecraft-prometheus-exporter-2.4.0.jar

instead

[2021-12-07 12:34] MarvinKlar commented on #117
I fixed this: https://github.com/sladkoff/minecraft-prometheus-exporter/pull/121

[2021-12-13 17:47] eruizc-dev opened #123 "[Bug Report] Connection Refused"
When querying from outside `localhost` the server does not respond:

![image](https://user-images.githubusercontent.com/58179604/145860797-7a51c9b5-0ef2-49c4-8cb4-65240b58e54a.png)

I run Minecraft, Prometheus, and Grafana in separate docker containers. I have other monitors working fine but this one doesn't want to respond outside localhost, as you can see:

![image](https://user-images.githubuse

[2021-12-13 18:19] eruizc-dev commented on #123
If you're interested, I can try fix this during the week

[2021-12-13 21:59] sladkoff commented on #123
@eruizc-dev You can configure the `host` setting in the plugin config as seen [here](https://github.com/sladkoff/minecraft-prometheus-exporter#plugin-config).

In your case, use this:

[code]

[2021-12-13 21:59] #123 closed

[2021-12-13 21:59] eruizc-dev commented on #123
I'm such an idiot, it's the first line in the documentation (set host to 0.0.0.0 in config.yml).

Shouldn't 0.0.0.0 be the default tho?

[2021-12-13 22:02] eruizc-dev commented on #123
@sladkoff yeah thanks, I completely missed that lo

[2021-12-13 22:08] #120 closed

[2021-12-13 22:11] sladkoff commented on #123
@eruizc-dev The current idea is that it's private by default and you need to opt-in to expose it / make it public.

[2021-12-13 23:07] geogdog commented on #120
Thanks @sladkoff, now it’s my mission to get all the others sorted. Your work is very appropriated.

[2021-12-14 02:30] eruizc-dev commented on #123
Fair enough

[2021-12-14 10:31] #117 closed

[2021-12-15 16:44] TimyIsCool opened #126 "[Question] Does it work with 1.18?"
Hey I was wonder if It works with 1.18 so I can use it on my server

[2021-12-15 20:49] badrpc commented on #126
I'm using it with PaperMC (papermc.io) 1.18.1 (and briefely with 1.18) and I haven't noticed any issues.

[2021-12-18 01:19] eruizc-dev commented on #126
Yes, I've been using it for a week with no issues.

[2021-12-18 01:24] eruizc-dev opened #128 "[Feature Request] World size flag"
**Is your feature request related to a problem? Please describe.**

I'd like to monitor current world size and world growth over x period of time

**Describe the solution you'd like**

I'd like a label `mc_world_size` to return world size in bytes.

- `mc_world_size{world="world"}`: overworld
- `mc_world_size{world="world_nether"}`: nether
- `mc_world_size{world="world_end"}`: end
- `sum(mc_world_

[2021-12-21 05:29] ItsRainingHP opened #129 "[Feature Request] Track Admin/OP Accounts"
**Is your feature request related to a problem? Please describe.**
This is related to players online metric. It would be nice to be able to subtract admin/OP accounts from the players online panel.

**Describe the solution you'd like**
A metric to track admin/OP accounts

**Describe alternatives you've considered**
Subtracting admin accounts or excluding them from the metric.

[2021-12-21 05:54] ItsRainingHP commented on #126
Confirmed been using it for a week as well on MC 1.18 Paper.

[2021-12-22 22:28] eruizc-dev commented on #129
Rather than subtracting operators, I'd rather have a label. Will provide way more flexibility.

`privileges=player` or `privileges=operator` would be nice and flexible in case plugins add other types of privileges

[2021-12-23 22:37] sladkoff commented on #126
Question has been answered :)

[2021-12-23 22:37] #126 closed

[2021-12-28 23:47] eruizc-dev commented on #129
@sladkoff

I'm interested in coding this. Could you help me with the specs?

Currently, the `player_online` metric has name and uuid as labels with 0/1 label depending if it's online or not. Should more labels be added or a new metric be created?

[2021-12-30 00:03] sladkoff commented on #129
@eruizc-dev Without having put too much thought into this, I'd probably just add a new label to the existing metric. It kinda fits with the existing labels that identify the player. What do you think?

[2022-01-03 18:25] nerfux opened #132 "[Feature Request]Player Stats - Number of deaths"
**Is your feature request related to a problem? Please describe.**
We are using this plugin for a large community server.
But we are playing UHC so it would be good to see how many players that have died as well.

If this could be available without having to enable PlayerStatistics collection -> Players Offline and subtract that from "Player Online"

Don't know how complicated this would be to add

[2022-01-24 10:44] devsjay opened #137 "[Bug Report] Exception on startup: NoSuchMethodError: org.bukkit.Statistic.getKey()"
[code]

[2022-01-24 10:46] devsjay commented on #137
1.181.1

[2022-01-31 23:28] eruizc-dev commented on #137
Zero effort question receives a zero effort answer, take your time to edit the issue with proper information and I might take some time to try and help you out

[2022-02-09 09:45] ChesterProgram opened #142 "Does this work on forge?"
Do title says it all.

[2022-02-09 12:51] rudxde opened #143 "[Bug Report] Exception fetching statistic KILL_ENTITY from player"
Hi, im getting regularly the following log to my console:

[code]

Server:
[code]

Config:
[code]

[2022-03-29 08:45] NapoSky commented on #143
Bump, same happens with Spigot 1.18.2 on openjdk:17 too.

[2022-04-06 15:26] NapoSky commented on #143
@sladkoff any ideas ?

[2022-04-09 10:34] lmichaelis commented on #143
This is due to `player.getStatistic(statistic, (EntityType) statType);` throwing when `statType` is `EntityType.UNKNOWN`. You could just return `0` for `EntityType.UNKNOWN` or exclude it from the statistics entirely by removing that entry from `ENTITY_TYPES` when initializing it.

[2022-04-11 20:44] #105 closed

[2022-04-11 20:44] #143 closed

[2022-04-11 21:34] #128 closed

[2022-04-16 05:28] #102 closed

[2022-04-27 19:31] #129 closed

[2022-04-27 19:31] #132 closed

[2022-05-02 22:36] radiant-ai opened #155 "World size metric lags server with big world"
Is it possible to collect world size metric async? It is just a file tag read and should be totally safe.

![image](https://user-images.githubusercontent.com/43506080/166337741-3c964798-1303-4fbc-928c-5f4f4c0e02c2.png)

Currently it lags server every minute. World size is ~ 800 GBs

[2022-05-31 09:45] Borealis404 opened #161 "[Bug Report]Cant enable plugin. Jetty lib related?"
Using IBM Semeru Runtime (OpenJ9)
[code]

logs below
[code]

[2022-05-31 11:24] Borealis404 commented on #161
Windows 11 Build 25126.1000
Eclipse Temurin OpenJDK 8u332b09
logs below
[code]

[2022-05-31 13:23] sladkoff commented on #161
@Borealis404 Apparently, the latest version of this plugin is **not** compatible with Java 8 due to Jetty 11.

![image](https://user-images.githubusercontent.com/6025787/171181501-17470afa-9e9d-439e-8348-1bce3d731944.png)

[Source](https://www.eclipse.org/jetty/download.php)

You need a version with Jetty 9 to run it on Java 8. The last version of this plugin with that version should be [2.3.0](ht

[2022-06-02 04:55] Borealis404 commented on #161
Using Java 11 for my 1.16.5 forge server now.
Apparently working.Thanks!
btw Java8 LTS still have security updates.

[2022-06-02 04:55] #161 closed

[2022-06-18 16:31] Jcodeerd opened #165 "[Bug Report]"
Players cant connect/join after adding the plugin; https://img.foxhideout.com/MDWvD.png

# Plugins (after removing PrometheusExporter):
```  ajQueue, AuthMe, BungeeGuard, Citizens, DecentHolograms, DeluxeHub, FastLogin, LPC, LuckPerms, Multiverse-Core, PlaceholderAPI, ViaBackwards, ViaRewind, ViaVersion, WorldEdit, WorldGuard```

[2022-06-18 19:13] sladkoff commented on #165
Can you provide any more context? The logs of the Prometheus exporter plugin would be helpful.

[2022-06-30 15:38] Jcodeerd commented on #165
https://mcpaste.io/86838040d07c4e8d It basically just stops the server, such as /pl not working, /tps etc

[2022-06-30 15:39] Jcodeerd commented on #165
Im using java 11

[2022-07-05 09:50] lslamp opened #168 "[Question] Cannot find prometheus-exporter.jar file"
- [x] I have successfully configured Prometheus -
This is done
- [x] I have successfully configured Grafana -
This is done
- [ ] I have added a **valid** scrape config for my Minecraft server in Prometheus --
This is the part I cannot figure. The instructions say drop the .jar file into the plugin dir, but after downloading the code, I cannot find the prometheus-exporter.jar to drop into the plugi

[2022-07-05 15:17] Jcodeerd commented on #165
@sladkoff  :)

[2022-07-05 23:04] badrpc commented on #168
Releases section?

https://github.com/sladkoff/minecraft-prometheus-exporter/releases

[2022-07-06 06:13] sladkoff commented on #165
@Jcodeerd Do you happen to have a huge map?

[2022-07-06 10:01] Jcodeerd commented on #165
Yes, it also happens on both large and small maps.

[2022-07-06 17:35] lslamp commented on #168
@badrpc you are a star, thanks for the direction.
Lawrence

[2022-07-11 22:08] #168 closed

[2022-09-09 12:53] NewZAZ opened #172 "[Bug Report] Could not start embedded Jetty server"
I have install grafana and prometheus.
But when i start my server i have this error :

i'm running on purpur 1.19.1 and java 17 !

https://gyazo.com/c16c0dfafe96de7855f03f65864a768d

[2022-09-09 13:46] #172 closed